@charset "utf-8";
.listxg{width:1200px;height:auto;margin:0 auto;font-family:"\5FAE\8F6F\96C5\9ED1","Arial Narrow",HELVETICA;}
.cg_left{width:820px;height:auto;float:left;overflow:hidden}
.article_container li{ border-bottom:dotted #bcbcbc 1px; margin-bottom:10px;font-family:"\5FAE\8F6F\96C5\9ED1","Arial Narrow",HELVETICA;padding-bottom:25px;margin-top:25px;}
.article_container li .tit .titf{height:26px; line-height:26px; font-size:16px; color:#333; zoom:1; font-weight:600;display:block;overflow:hidden;margin-top:2px;}
.article_container li .tit .time{ height:28px;  line-height:28px; font-size:12px; color:#aeaeae; background:url(images/clock.png) 0px 8px no-repeat;padding-left:20px;}
.article_container li .info{ height:52px; line-height:2em; color:#666; margin-bottom:12px; clear:both;overflow:hidden;display:block}
.article_container li .info a{ color:#269600; }
.article_container ul li a.img{width:230px;height:153px;float:left;display:block;border:none}
.article_container ul li a.img img{width:230px;height:153px;overflow:hidden;margin-right:25px;border:0px;padding:0px;}
.article_container li .right{width:563px;}
.article_container li{overflow:hidden}
.article_container li .info a{display:block;width:80px;height:26px;line-height:26px;text-align:center;border:1px solid #e6e6e6;color:#808080;float:right;margin-top:23px;*margin-top:0px;}
.article_container li .info a:hover{color:#269600;text-decoration:none}
.article_container li .tit .titf:hover{color:#F62648;}
a.yd{width:77px;height:30px;display:block;line-height:29px;color:#F62648;font-size:12px;padding-left:12px;float:right;display:none;margin-top:0;}
.tag{float:left;height:30px;overflow:hidden;width:427px;}
.tag a{display:block;height:26px;line-height:26px;background:#ff8d00;font-size:12px;color:#fff;padding:0px 10px;float:left;margin-right:16px;border-bottom:0px;margin-top:3px;}
.tag a:hover{background:#ef8501;color:#fff}
.article_container li:hover a.yd{display:block;margin-top:0;}
.cg_right{float:right;width:349px;height:auto;background:#f8f8f8;overflow:hidden;padding-bottom:20px;}
.right_one{width:310px;margin:0 auto;height:auto;overflow:hidden}
.right_one h2{font-size:16px;color:#F62648;display:block;border-bottom:1px solid #e5e5e5;margin-top:23px;padding-bottom:13px;padding-left:3px}
.right_one ul li a{display:block;color:#666666;font-size:14px;width:88px;height:30px;line-height:30px;text-align:center;border:1px solid #dedede;background:#fff}
.right_one ul li{float:left;margin-right:19px;margin-top:13px;}
.right_one ul{width:380px;}
.right_one ul li.on a,.right_one ul li a:hover{background:#f4faf5;border:2px solid #F62648;color:#F62648;width:86px;height:28px;}
.right_two{width:310px;margin:0 auto;height:auto;overflow:hidden}
.right_two h2{font-size:16px;color:#F62648;display:block;border-bottom:1px solid #e5e5e5;margin-top:23px;padding-bottom:13px;padding-left:3px}
.qgou{width:310px;height:auto;overflow:hidden;background:#fff;margin-top:14px;;padding-bottom:7px;}
.djs{width:310px;text-align:center;color:#464646;font-size:16px;margin-top:18px;}
.djs font{color:#d41111;padding:0 4px;font-size:16px;font-weight:600}
.djs span{color:#d41111;padding:0 4px;font-size:16px;font-weight:600}
a.cp_img{width:290px;height:290px;display:block;margin:0 auto;margin-top:12px;}
a.cp_title{width:290px;display:block;margin:0 auto;color:#333333;font-size:14px;overflow:hidden;height:24px;line-height:24px;text-align:left;margin-top:4px;}
a.cp_title:hover{color:#F62648}
.jge{width:290px;display:block;margin:0 auto;margin-top:4px;height:30px;}
.jge span{color:#F62648;font-family:arial;font-size:22px;float:left}
.jge font{float:left}
font.yjia{color:#aeaeae;font-family:arial;font-size:12px; text-decoration:line-through;margin-top:7px;margin-left:9px;}
a.cp_buy:hover{ background-position:0px -40px;}
.right_three{width:310px;margin:0 auto;height:auto;overflow:hidden;}
.right_three h2{font-size:16px;color:#F62648;display:block;border-bottom:1px solid #e5e5e5;margin-top:23px;padding-bottom:13px;padding-left:3px}
.right_three ul li a.hot_img{width:107px;height:71px;display:block;float:left}
.right_three ul li{width:310px;display:block;margin:0 auto;overflow:hidden;margin-top:20px;}
p.li_right{float:right;width:187px;height:auto;overflow:hidden;}
a.li_title{color:#464646;font-size:14px;display:block;overflow:hidden;height:24px;line-height:24px;margin-bottom:4px;font-weight:600}
a.li_nr{color:#666666;font-size:12px;line-height:18px;height:37px;overflow:hidden;display:block}
a.li_title:hover,a.li_nr:hover{color:#F62648}
.cztj a.cp_title{margin-top:0px;} 
.cztj .jge{height:28px;margin-top:8px;}
.cztj font.yjia{float:right}
.listxg.liwrap .mt15{margin-top:25px}
.cnxh{width:1200px;height:auto;overflow:hidden;margin:0 auto;}
.cnxh h2{font-size:16px;color:#F62648;display:block;border-bottom:1px solid #e5e5e5;margin-top:23px;padding-bottom:13px;padding-left:3px}
.cnxh_list{overflow:hidden;font-family:"\5FAE\8F6F\96C5\9ED1","Arial Narrow",HELVETICA;margin-bottom:22px;}
.cnxh_list ul li{float:left;height:auto;width:225px;border:1px solid #ededed;overflow:hidden;margin-top:20px;padding-bottom:8px;margin-right:16px;}
.cnxh_list ul li img,.cnxh_list ul li a.img{display:block;width:225px;height:225px;overflow:hidden}
.cnxh_list .jge{width:206px;display:block;margin:0 auto;margin-top:4px;height:30px;overflow:hidden;}
.cnxh_list .jge span{color:#F62648;font-family:arial;font-size:18px;float:left;margin-top:5px;}
.cnxh_list .jge span font{color:#F62648;font-family:arial;font-size:12px;padding-right:4px;padding-left:4px;margin-top:4px;}
.cnxh_list font.yjia{color:#aeaeae;font-family:arial;font-size:12px; text-decoration:line-through;margin-top:8px;margin-right:2px;float:right}
.cnxh_list a.cp_title{width:206px;display:block;margin:0 auto;color:#666;font-size:12px;overflow:hidden;height:48px;line-height:22px;text-align:center;margin-top:0px;}
.cnxh_list a.cp_title:hover{color:#F62648}
.cnxh_list ul{width:1300px;}
.cnxh_list ul li:hover{border:1px solid #067e1b}
.cnxh.search_cp .cnxh_list{margin-bottom:10px;}
h2.wu_wz{font-size:16px;color:#F62648;display:block;border-bottom:1px solid #e5e5e5;margin-top:23px;padding-bottom:13px;padding-left:3px}
.listxg.liwrap .article_container li{*height:153px;}

.cg_left{margin-top:-15px;}

.yh{ font-family:\5FAE\8F6F\96C5\9ED1;}
.lf{ display:inline; float:left;}
.rt{ display:inline; float:right;}
.con{ width:1200px; height:auto;}
.con .conl{ width:820px; height:auto;}
.con .conr{ width:310px; height:auto; padding:0 20px 20px 20px; margin-top:40px; background-color:#f8f8f8;}
.conl h1{ display:block; height:60px; line-height:60px; text-align:center; font-size:22px; color:#333; font-weight:100;}
.conl .sjy { text-align:center; color:#aeaeae; padding-bottom:10px; border-bottom:dashed 1px #e5e5e5; margin-bottom:30px;}
.conl .sjy font{ padding-left:25px;}
.conl .wz{ height:auto; padding-bottom:30px;}
.conl .wz p{ height:auto; font-size:15px; color:#333; line-height:30px; text-indent:30px; margin-bottom:10px;}
.conl .wz p.tpc{ text-align:center;}
.conl .bqk { height:auto; background:url(images/bqkbg.jpg) repeat-y 0 0; border-top: solid 1px #e9f0f0; border-bottom: solid 1px #e9f0f0;margin-bottom:15px;}
.conl .bqk .bql{ width:620px; height:auto; padding-left:20px;}
.conl .bqk .bql h2{ display:block; margin:20px 0;  font-size:16px; height:30px; line-height:30px; font-weight:100;}
.conl .bqk .bql h2 span{ color:#666; padding-right:10px;}
.conl .bqk .bql h2 a{ margin-right:10px; color:#fff; padding:0 10px; background-color:#ff8d00; }
.conl .bqk .bql h2 a:hover{ background-color:#ef8501; }
.conl .bqk .bql .wxlb{ height:auto; padding-bottom:10px;}
.conl .bqk .bql .wxlb p{ height:30px; line-height:30px; font-size:14px; color:#666; overflow:hidden; }
.conl .bqk .bql .wxlb p a{ padding-left:10px; color:#666;}
.conl .bqk .bql .wxlb p a:hover{ color:#F62648; text-decoration:underline;}
.conl .ad img{ display:block; width:820px; height:140px; margin:20px 0;}
.cxh{ height:auto;}
.cxh h3{ display:block; height:40px; line-height:40px; border-bottom:solid 1px #e5e5e5; font-size:16px; color:#F62648; font-weight:100; margin-bottom:20px;}
.cxh ul{ display:block; height:auto;}
.cxh ul li{ display:inline; float:left; margin-right:20px; width:400px; height:auto; overflow:hidden;}
.cxh ul li .tpa img{ display:block; width:143px; height:95px; margin-right:15px;}
.cxh ul li .wz{ width:242px; height:auto;}
.cxh ul li .wz h4{ display:block; height:28px; line-height:28px; font-size:16px; color:#464646; font-weight:100; overflow:hidden;}
.cxh ul li .wz p{ display:block; margin-top:10px; height:54px; line-height:18px; font-size:12px; color:#666; margin-bottom:0; text-indent:0;}
.jpzs{ height:auto; padding-bottom:20px;}
.jpzs .mka{ display:inline; float:left; margin-right:15px; width:191px; border:solid 1px #ededed;padding-bottom:5px;}
.jpzs .mka img{ display:block; width:191px; height:191px;}
.jpzs .mka h4{ display:block; padding:0 10px; font-weight:100; height:40px; line-height:40px; overflow:hidden;}
.jpzs .mka h4 span{ display:inline; float:left; color:#F62648; font-size:18px;}
.jpzs .mka h4 .by { display:inline; float:left; margin-left:10px; width:27px; height:40px; text-indent:-9999px;}
.jpzs .mka h4 em{ display:inline; float:right; font-size:14px; color:#aeaeae; text-decoration:line-through;}
.jpzs .mka p{ display:block; height:40px; line-height:20px; overflow:hidden; padding:0 10px; font-size:14px; color:#666;}

.zjpd{ height:auto;}
.zjpd h1{ display:block; margin-bottom:15px; height:44px; line-height:44px; border-bottom:solid 1px #e5e5e5; font-size:16px; color:#F62648;}
.zjpd .mk{ height:auto;}
.zjpd .mk img{ display:inline; float:left; width:97px; height:97px; margin-right:20px;}
.zjpd .mk .wz{ width:192px; height:auto;}
.zjpd .mk .wz h2{ display:block; height:auto; line-height:22px; font-size:14px; color:#464646; font-weight:100;}
.zjpd .mk .wz .jg{ height:auto; margin-top:10px;}
.zjpd .mk .wz .jg span{ display:block; font-size:22px; color:#F62648; height:24px; line-height:24px;}
.zjpd .mk .wz .jg span font{ font-size:18px;}
.zjpd .mk .wz .jg em.jj{ font-size:14px; color:#aeaeae; text-decoration:line-through;}
.yd{ height:auto; margin-top:20px;}
.yd .ula{ height:auto;}
.yd .ula a{ display:block; height:auto; margin-bottom:15px;}
.yd .ula a span{ display:block; width:20px; height:20px; border-radius:2px; border:solid 1px #bbb; text-align:center; line-height:20px; color:#bbb; margin-right:10px;}
.yd .ula a span.qs{ border:solid 1px #ff7f00; text-align:center; line-height:20px; color:#ff7f00; }
.yd .ula a .wz{ height:auto;}
.yd .ula a .wz em{ font-size:14px; color:#464646;}
.yd .ula a .wz img{ display:none; width:142px; height:95px; margin-top:10px;}
.yd .ula a:hover{ cursor:pointer;}
.yd .ula a:hover .wz img,.yd .ula a.current .wz img{ display:block;}
.tagright .bdshare-button-style0-32 .bds_qzone{background-position:0 -52px !important}
.tagright .bdshare-button-style0-32 .bds_tsina{background-position:0 -104px !important}
.tagright .bdshare-button-style0-32 .bds_tqq{background-position:0 -260px !important}
.tagright .bdshare-button-style0-32 .bds_renren{background-position:0 -208px !important}
.tagright font{float:right;color:#999;font-size:14px;line-height:44px;margin-right:6px}
.tagright{overflow:hidden;height:44px;width:800px;margin-top:38px;padding-right:12px;}
.tagright div{float:right;}
.sr-bdimgshare.sr-bdimgshare-list.sr-bdimgshare-16.sr-bdimgshare-black{display:none !important}
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more,.bdimgshare-content.bdsharebuttonbox.bdshare-button-style0-32{margin-right:5px !important;}
.sr-bdimgshare.sr-bdimgshare-list.sr-bdimgshare-32.sr-bdimgshare-black{display:none !important}
.tagright .bds_more {background:url(images/m.png) no-repeat 0 0 !important;}
.right_three ul li a.hot_img{width:107px;height:71px;display:block;float:left}
.right_three ul li{width:310px;display:block;margin:0 auto;overflow:hidden;margin-top:20px;}
p.li_right{float:right;width:187px;height:auto;overflow:hidden;}
a.li_title{color:#464646;font-size:14px;display:block;overflow:hidden;height:24px;line-height:24px;margin-bottom:4px;font-weight:600}
a.li_nr{color:#666666;font-size:12px;line-height:18px;height:38px;overflow:hidden;display:block}
a.li_title:hover,a.li_nr:hover{color:#F62648}
.qgou{width:310px;height:auto;overflow:hidden;background:#fff;margin-top:14px;padding-bottom:7px;}
.djs{width:310px;text-align:center;color:#464646;font-size:16px;margin-top:18px;}
.djs font{color:#d41111;padding:0 4px;font-size:16px;font-weight:600}
a.cp_img{width:290px;height:290px;display:block;margin:0 auto;margin-top:12px;}
a.cp_title{width:290px;display:block;margin:0 auto;color:#333333;font-size:14px;overflow:hidden;height:24px;line-height:24px;text-align:left;margin-top:4px;}
a.cp_title:hover{color:#F62648}
.jge{width:290px;display:block;margin:0 auto;margin-top:4px;height:30px;}
.jge span{color:#cF6264800;font-family:arial;font-size:22px;float:left}
.jge font{float:left}
font.yjia{color:#aeaeae;font-family:arial;font-size:12px; text-decoration:line-through;margin-top:7px;margin-left:9px;}
.cztj a.cp_title{margin-top:0px;} 
.cztj .jge{height:28px;margin-top:8px;}
.cztj font.yjia{float:right}
.wz.lf.overf a:hover h4{color:#F62648}
.overf {
    overflow: hidden;
}