.bg_c {
    background-color: #F62648;
    transition: all 0.5s ease-in-out 0s;
}
.qg_table_end .bg_c {
    background-color: #999;
    transition: all 0.5s ease-in-out 0s;
}
.word_c {
    color: #F62648;
}
.qgitem{ margin:15px 15px 0px 0px; background:#FFF; }
.qgitem_w{ float:left; width:33.3%; *width:33.3%}
 
.tgprc .pic img{ width:100%;text-align:center}
.tgprc .pic_info{ padding:5px 10px 0px 10px; font-size:14px; line-height:20px;}
.tgprc .pic_info .goods_name{ height:20px; overflow:hidden; font-weight:bold}
.tgprc .pic_info .group_buy_desc{height:20px; overflow:hidden; color:#999; margin-bottom:8px;}

.tgprc .pic_info .sy_num{ position:relative; height:30px; float:left;}
.tgprc .pic_info .sy_num em{ display:block; width:60px; border:1px solid #F3C7C7; background:#FFF; border-radius:5px; float:left; margin-top:5px;}
.tgprc .pic_info .sy_num em i{display:block; background:#FFD2C5; padding-top:7px;}
.tgprc .pic_info .sy_num span{ display:block; float:left; font-size:12px; padding-left:5px;}
.tgprc .pic_info b.word_c1{ font-size:12px}

.tgprc .group_btn{ position:relative; line-height:50px; height:50px; color:#fff; overflow:hidden;  }
.tgprc .group_btn i{ font-size:20px; font-weight:bold; padding-left:5px;}
.tgprc .group_btn:first-letter{ font-size:14px}
.tgprc .group_btn del{ font-size:14px; margin-left:10px;}
.tgprc .group_btn a{line-height:48px; height:48px; background:#fff; position:absolute; right:1px; top:1px; width:80px; text-align:center}

.tgprc .fd30_time{ float:right; background:URL(images/time.png) left no-repeat; line-height:20px; height:20px; padding-left:22px; font-size:12px; color:#000}
.tgprc .fd30_time em{ font-style:normal;}


.w-item-info {
	width:1200px;
	margin:0 auto 20px
}
.w-item-info h2 {
	margin:8px 0 2px;
	line-height:36px;
	font-size:24px;
	font-family:"Microsoft Yahei";
	color:#333;
	font-weight:500;
}
.w-item-info .item-title {
	padding-bottom:6px
}
.w-item-info .item-title .text-main,.w-item-info .item-title .hot {
	font-size:14px;
	line-height:28px;
	font-family:SimSun
}
.w-item-info .item-title .text-main {
	color:#999
}
.w-item-info .item-title .hot {
	color:#FF658E
}
.w-item-info .ii-images {
	float:left;
	width:550px;
	margin-top:20px;
}
.w-item-info .ii-intro {
	float:right;
	width:650px;
	margin-top:20px;
}
.w-item-info .promotion-icon {
	font-size:12px;
	padding:.25em;
	border-radius:2px;
	background:#ff4883;
	color:#FFF
}
.w-item-intro .price-area {
	padding:10px 0 8px 20px;
	height:54px;
	line-height: 54px;
	font-family:Arial;
	background:#FAFAFA;
	border-bottom:1px dotted #C5C5C5
}
.w-item-intro .price-area .match-price-area {
	float:left;
	height:48px;
	color:#FD8E51;
	font-size:48px
}
.w-item-intro .price-area .pic-price-area .unit {
    color: #ff6700;
	font-size:28px
}
.w-item-intro .price-area .pic-price-area .unit2 {
    color: #ff6700;
	font-size:16px
}
.w-item-intro .price-area .tip-yellow-icon {
	float:left;
	margin-left:5px;
	padding-left:3px;
	width:59px;
	height:19px;
	line-height:19px;
	text-align:center;
	color:#fff;
	font-family:SimSun;
	background-repeat:no-repeat;
}
.w-item-intro .price-area .tip-discount {
	width:0;
	height:0;
	border-bottom:18px solid #7D83FF;
	border-right:21px solid #7D83FF;
	border-left:21px solid #7D83FF;
	background:0 0;
	position:relative;
	margin-left:15px
}
.w-item-intro .price-area .tip-discount i {
	width:0;
	height:0;
	line-height:0;
	border-width:4px;
	border-style:solid;
	border-color:transparent transparent #7D83FF;
	position:absolute;
	left:-25px;
	top:10px
}
.w-item-intro .price-area .tip-discount span {
	position:absolute;
	top:0;
	left:-18px;
	width:40px
}
.w-item-intro .price-area.has-promotion-icon .market-price-area,.w-item-intro .price-area.has-promotion-icon .current-price-area {
	margin-top:25px
}
.w-item-intro .price-area .pic-price-area {
    float: left;
}
.w-item-intro .price-area .market-price-area,.w-item-intro .price-area .current-price-area {
	float:right;
	width:120px;
	height:36px;
	color:#999;
	text-align:center;
	margin-top:8px
}
.w-item-intro .price-area .market-price-area .price,.w-item-intro .price-area .current-price-area .price {
	margin-top:2px;
	height:12px;
	line-height:12px;
	font-size:14px;
	text-decoration:line-through
}
.w-item-intro .price-area .market-price-area .name,.w-item-intro .price-area .current-price-area .name {
	margin-top:9px;
	height:12px;
	line-height:12px;
	font-size:12px;
	font-family:SimSun
}
.w-item-intro .price-area .market-price-area {
	border-left:1px solid #DFDFDF
}
.w-item-intro .price-area .discount .price {
	text-decoration:none
}
.w-item-intro .price-area .activity-wrap {
	float:left;
	clear:left;
	margin:10px 0
}
.w-item-intro .price-area .activity-wrap .promotion-icon {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 10px 5px 0;
	vertical-align:top;
	font-style:normal;
	cursor:pointer
}
.w-item-intro .ugc-strategy-area {
	padding:10px 0;
}
.w-item-intro .ugc-strategy-area .intro-strong {
	font-weight:700;
	color: #ff6700;
}
.w-item-intro .ugc-strategy-area li {
	float:left;
	width:160px;
	height:50px;
	font-size:12px;
	color:#999;
	text-align:center
}
.w-item-intro .ugc-strategy-area .item-bought .item-bought-num {
	font-size:16px;
	white-space:nowrap;
	line-height:50px;
	vertical-align:middle
}
.w-item-intro .ugc-strategy-area .sl-wrap {
	display:table;
	height:100%;
	margin:0 auto
}
.w-item-intro .ugc-strategy-area .sl-wrap-cnt {
	display:table-cell;
	vertical-align:middle
}
.w-item-intro .ugc-strategy-area .ugc-grade {
	cursor:pointer
}
.w-item-intro .ugc-strategy-area .item-strategy {
	border-right:0;
	overflow:hidden;
	width:260px;
}
.w-item-intro .ugc-strategy-area .item-strategy a {
	display:block;
	padding:2px 0 2px 30px;
	height:18px;
	width:80px;
	line-height:18px;
	text-align:left;
	vertical-align:middle;
	color:#999;
	overflow:hidden
}
.w-item-intro .ugc-strategy-area .item-strategy .refund-all {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .refund-all.margin-top-0 {
	margin-top:0
}
.w-item-intro .ugc-strategy-area .item-strategy .refund-auto {
	margin-top:10px;
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .fast-shipping {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .fast-shipping:hover {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .refund-first {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .refund-first:hover {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .genuine-item {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .genuine-item:hover {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-area .item-strategy .good-shopper {
	background-repeat:no-repeat;
}
.w-item-intro .ugc-strategy-wuliu li {
	height:70px
}
.w-item-intro .ugc-strategy-wuliu .item-bought .item-bought-num {
	line-height:70px
}
.w-item-intro .buy-panel-wrap {
	width:100%
}
.w-item-intro .buy-panel-wrap.app-share .app-share-erweima-wrap {
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	width:100%;
	vertical-align:bottom
}
.w-item-intro .buy-panel-wrap.app-share .buy-panel {
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	width:258px;
	margin-left:-100%;
	vertical-align:bottom
}
.w-item-intro .buy-panel-wrap .app-share-erweima-wrap {
	display:none
}
.w-item-intro .buy-panel-wrap .app-share-erweima-border {
	margin:8px 0 20px 266px;
	padding:8px;
	border:1px solid #DDD;
	overflow:hidden;
	word-wrap:normal;
	word-break:keep-all;
	white-space:nowrap
}
.w-item-intro .buy-panel-wrap .app-share-erweima {
	float:left;
	width:110px
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top
}
.w-item-intro .buy-panel-wrap .app-share-erweima {
	position:relative;
	margin-right:8px
}
.w-item-intro .buy-panel-wrap .app-share-erweima .app-erweima {
	width:110px;
	height:110px;
	vertical-align:top
}
.w-item-intro .buy-panel-wrap .app-share-erweima .app-logo {
	position:absolute;
	top:39px;
	left:39px;
	width:32px;
	height:32px
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap .app-share-info-outer {
	display:table;
	height:110px
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap .app-share-info-inner {
	display:table-cell;
	font-size:14px;
	line-height:1.5;
	vertical-align:middle
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap i,.w-item-intro .buy-panel-wrap .app-share-info-wrap em {
	display:block;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	overflow:hidden;
	word-wrap:normal;
	word-break:keep-all;
	white-space:nowrap;
	font-style:normal;
	font-weight:400
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap i {
	font-size:15px;
	color:#6A6A6A
}
.w-item-intro .buy-panel-wrap .app-share-info-wrap em {
	color:#FB4173
}
.w-item-intro .validdate-buycount-area {
	margin-top:10px;
	font-size:12px;
	color:#999
}
.w-item-intro .validdate-buycount-area .item-countdown-row {
	height:30px;
	line-height:30px
}
.w-item-intro .validdate-buycount-area .item-countdown-row .name {
	float:left;
	width:90px
}
.w-item-intro .validdate-buycount-area .item-countdown-row .value {
	float:left
}
.w-item-intro .validdate-buycount-area .item-countdown-row a {
	color:#73adc9
}
.w-item-intro .validdate-buycount-area .item-countdown-row a:hover {
	color:#39f
}
.w-item-intro .validdate-buycount-area .item-buycount-row {
	margin-top:5px
}
.w-item-intro .validdate-buycount-area .item-buycount-row.app-share .name {
	width:auto;
	margin-right:10px
}
.w-item-intro .validdate-buycount-area .item-buycount-row.app-share .text-wrap {
	float:right
}
.w-item-intro .validdate-buycount-area .item-buycount-row.app-share .text-wrap .err-wrap {
	float:none
}
.w-item-intro .validdate-buycount-area .item-buycount-row .text-wrap {
	display:inline;
	width:120px
}
.w-item-intro .validdate-buycount-area .item-buycount-row .name {
	float:left;
	width:90px;
	line-height:22px
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl {
	float:left
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl {
	display:inline-block;
	width:20px;
	height:20px;
	border:1px solid #DCDCDC;
	position:relative;
	vertical-align:middle;
	background:#fff
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl span {
	position:absolute;
	left:0;
	top:0;
	display:block;
	background:#B4B5B5;
	cursor:pointer;
	_line-height:0;
	_font-size:0
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl .horizontal {
	width:12px;
	height:2px;
	top:9px;
	left:4px
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl .vertical {
	width:2px;
	height:12px;
	top:4px;
	left:9px
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl:hover {
	border-color:#ff6700
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl:hover span {
	background:#ff6700
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl.disabled,.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl.disabled:hover {
	border-color:#eaeaea;
	cursor:default
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl.disabled span,.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl .ctrl.disabled:hover span {
	background:#eaeaea
}
.w-item-intro .validdate-buycount-area .item-buycount-row .buycount-ctrl input {
	display:inline-block;
	width:47px;
	height:12px;
	padding:4px 0;
	border:1px solid #DCDCDC;
	color:#666;
	font-size:12px;
	line-height:12px;
	text-align:center;
	vertical-align:middle;
	*zoom:1
}
.w-item-intro .validdate-buycount-area .item-buycount-row .left-budget {
	color:#999;
	font-size:12px;
	font-family:SimSun;
	line-height:22px;
	margin-left:10px
}
.w-item-intro .validdate-buycount-area .item-buycount-row .err-wrap {
	float:left;
	margin-left:10px;
	color:#FF668F;
	line-height:22px
}
.w-item-intro .item-buy-area {
	margin:25px 0 20px
}
.w-item-intro .jingxuan-box {
	height:48px;
	background:#ff5a84;
	color:#fff;
	padding:0 20px;
	font-size:14px;
	display:block
}
.w-item-intro .jingxuan-box .box {
	padding-top:13px
}
.w-item-intro .jingxuan-box .jx-price {
	width:61px;
	height:23px;
	text-align:center;
	color:#ff5a84;
	font-size:18px;
	letter-spacing:-1px;
	line-height:24px;
	float:left;
	margin-right:8px;
	background-repeat:no-repeat;
}
.w-item-intro .jingxuan-box .jx-price span {
	position:relative;
	left:-2px;
	font-family:arial
}
.w-item-intro .jingxuan-box .jx-over {
	float:left;
	height:23px;
	line-height:24px;
	font-size:16px;
	font-family:"Microsoft Yahei"
}
.w-item-intro .jingxuan-box .jx-tiptext {
	padding:4px 10px;
	border-radius:10px;
	background:#fff;
	color:#525252;
	font-size:14px;
	position:relative;
	top:-1px
}
.w-item-intro .jingxuan-box .jx-update {
	float:left
}
.w-item-intro .jingxuan-box .jx-timerbox {
	color:#ffed03;
	font-weight:700;
	line-height:23px;
	font-size:18px;
	margin-left:5px
}
.w-item-intro .jingxuan-box .jx-timerbox span {
	width:27px;
	height:23px;
	display:inline-block;
	zoom:1;
	position:relative;
	background:#ffed03;
	line-height:24px;
	color:#ff5a84;
	margin:0 4px;
	text-align:center
}
.w-item-intro .jingxuan-box .jx-more {
	float:right;
	color:#fff;
	margin-top:4px;
	font-size:14px;
	background:url(//gss0.bdstatic.com/8r1VfDn7KggZnd_b8IqT0jB-xx1xbK/static/detail/widget/item_info/img/gt_b7b056e.png) no-repeat right center;
	padding-right:15px
}
.w-item-images {
	width:550px
}
.tips-tags {
	position:absolute;
	visibility:hidden
}
.tips-tags .tips-tags-mask {
	position:absolute;
	background:#fff;
	cursor:pointer;
	opacity:.02;
	filter:alpha(opacity=2)
}
.tips-tags i {
	position:absolute;
	width:10px;
	height:6px;
	top:7px;
	background-repeat:no-repeat;
}
.tips-tags .tips-tags-main {
	min-width:150px;
	margin:12px 10px 10px;
	padding:10px;
	border:1px solid #fedae7;
	background:#fff5f9
}
.tips-tags .tips-tags-main .tips-tags-desc {
	word-wrap:break-word;
	word-break:break-all;
	white-space:normal;
	line-height:1.5
}
.tips-tags .tips-tags-main a {
	margin-left:5px;
	color:#629ac2;
	text-decoration:none
}
.tips-tags .tips-tags-main a:hover {
	text-decoration:underline
}

.detail_img {
	width:550px;
	position:relative;
	float:left
}
.detail_img .pic_view {
	width:450px;
	height:450px;
	margin:0 auto;
	position:relative
}
.item-thumbs {
	padding:15px 0;
	margin:0 auto;
	width:410px;
	height:58px;
	overflow:hidden;
	position:relative
}
.item-thumbs ul {
	text-align:center;
	height:58px;
	width:330px;
	overflow:hidden;
	padding-left:8px;
	margin:0 auto
}
.item-thumbs li {
	width:56px;
	height:56px;
	overflow:hidden;
	border:1px solid #ddd;
	margin:0;
	margin-right:8px;
	+zoom:1;
	cursor:pointer;
	float:left;
	display:block
}
.item-thumbs li.current {
	border-color:#F62648
}
.item-thumbs .bd {
	width:330px;
	padding-left:10px;
	overflow:hidden;
	position:relative;
	margin:0 auto
}
.item-thumbs li a {
	padding:8px;
	display:block
}
.item-thumbs li img {
	width:40px;
	height:40px
}
#item-thumbs .prev {
	display:block;
	position:absolute;
	width:15px;
	height:30px;
	background:url(images/footprint-arr.png) no-repeat;
	top:30px;
	left:18px
}
.item-thumbs .next {
	display:block;
	position:absolute;
	width:15px;
	height:30px;
	background:url(images/footprint-arr.png) -15px 0 no-repeat;
	top:30px;
	right:18px
}
.item-thumbs div.arrow {
	position:absolute;
	position:absolute;
	top:0;
	color:#F62648
}
.item-thumbs a.left_btn,.item-thumbs a.right_btn {
	position:absolute;
	color:#999;
	display:block;
	height:58px;
	line-height:58px;
	font-size:16px;
	top:15px
}
.item-thumbs a.left_btn:hover,.item-thumbs a.right_btn:hover {
	text-decoration:none;
	color:#ccc
}
.item-thumbs a.left_btn {
	left:20px
}
.item-thumbs a.right_btn {
	right:20px
}

/*商品单选属性*/
.catt {
	height:auto;
	overflow:hidden;
	padding-bottom:5px;
	margin-top:10px;
}
.catt a {
	border:#c8c9cd 1px solid;
	text-align:center;
	margin-right:10px;
	display:block;
	white-space:nowrap;
	color:#000;
	text-decoration:none;
	float:left;
	position:relative;
	cursor:pointer;
}
.catt em {
	padding:3px 7px;
}
.catt a p {
	border:#fff 1px solid;
}
.catt a:hover {
	border:#f52648 1px solid;
	margin-right:10px;
}
.catt a:hover p {
	border:#f70 1px solid;
}
.catt a:focus {
	outline-style:none;
}
.catt .cattsel {
	border:#f70 1px solid;
	margin-right:10px;
	background-color:#fff;
}
.catt a.cattsel p {
	border:#f70 1px solid;
}
.catt .cattsel a:hover {
	border:#f52648 1px solid;
	margin:-1px;
	background:url("images/bg_attr_sel_zyh.png") no-repeat bottom right;
	background-color:#fff;
}
.catt a.wuxiao {
	cursor:not-allowed;
	text-decoration:none;
	border:#999 1px dashed;
	margin-left:5px;
	background:#ddd;
}
.catt a.wuxiao p {
	border:#fff 1px solid;
}
.catt a.wuxiao p.padd span {
	height:40px;
	width:40px;
	display:block;
	text-indent:-9999em;
	background:url(images/wuxiao.gif) no-repeat transparent;
}
.catt a.wuxiao p img {
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
}
.catt a.wuxiao:visited,.catt a.wuxiao:hover {
	cursor:not-allowed;
	text-decoration:none;
	border:#999 1px dashed;
}
.catt .cattsel i {
	background:url(images/test.gif) no-repeat scroll right bottom transparent;
	bottom:0;
	height:16px;
	position:absolute;
	right:0;
	width:16px;
}
.btn-buy-qrnew {
    font-family: "microsoft yahei";
    font-size: 16px;
    height: 42px;
    text-align: center;
    width: 162px;
    background: #ff6700 none repeat scroll 0 0;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
	padding:0;
	cursor:pointer;
}
.j-btn-buy {
    background: #999;
    border: none;
}
.lbl2{
    float: left;
    width: 90px;
	margin-top:10px;
}
.ys_xuan{
	float: left;
}
#J_prodImg {
    height: 450px;
    width: 450px;
}

#summary-jiage {
	position: relative;
}
#summary-jiage .jieti-jiage {
	width: 100%;
	overflow: hidden;
	margin: auto;
	background: #FBFBFB;
}
#summary-jiage .jieti-renshu {
	width: 25%;
	height: 40px;
	margin-right:-1px;
	float: left;
	padding: 20px 0px;
	text-align: center;
}
#summary-jiage .jieti-Rbian {
	border-right: 1px dotted #ccc;
}
#summary-jiage .jieti-Bbian {
	height: 39px;
}
#summary-jiage .jieti-BBbian {
	color:#999;
}
#summary-jiage .st {
	color: #ff6700;
	font-size: 16px
}
#summary-jiage #summary-presell {
	margin: auto;
}
#summary-jiage #presell-detail {
	background: #F9F9F9  none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	padding: 15px 0px;
	width: 100%;
}
#summary-jiage #presell-detail .mt {
	padding: 0px 15px 10px;
	border-bottom: 1px dotted #DFDFDF;
	margin-bottom: 15px;
	color: #666;
}
#summary-jiage #presell-detail .mc {
	padding: 0px 15px 15px;
}
#summary-jiage #presell-detail .mb {
	padding: 10px 15px 0px;
	border-top: 1px dotted #DFDFDF;
}
.mt20 {
    margin-top: 20px;
}
